**Python Install**

Download Python for free from the following website:

https://www.python.org/

In [1]:
# Start
print("Hello, World!")

Hello, World!

**Python Comments**

Comments starts with a #, and Python will ignore them:

For a comment more then one lone, add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
#This is a comment
print("Hello, World! 1")

"""
This is a comment
written in
more than just one line
"""
print("Hello, World! 2")

Hello, World! 1
Hello, World! 2

In [4]:
# Help: This is user Input

name = input('Enter your Name: ')
print('Hello, ' + name + ' How are you?')

Hello, Waqar Khan How are you?

**Variables**

Variables are containers for storing data values.

Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

**Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

**Multi Words Variable Names**

1. Camel Case:

Each word, except the first, starts with a capital letter:

*myVariableName = "John"*

2. Pascal Case:

Each word starts with a capital letter:

*MyVariableName = "John"*

3. Snake Case:

Each word is separated by an underscore character:

*my_variable_name = "John"*

In [1]:
x1 = 4       # x is of type int

X1 = 2

x2 = "Sally" # x is now of type str

print(x1)

print(x2)

4
Sally

In [2]:
name = 'Waqar'
Name = 'Zain'
NAME = 'Doctor'
num = 12
dec_num = 12.5

In [3]:
print(NAME)

Doctor

**Exercise:**

Create a variable named carname and assign the value Volvo to it.

**Python Data Types**

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

**Python Numbers**

There are three numeric types in Python: int, float, complex

* Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
* Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
* Complex numbers are written with a "j" as the imaginary part:

In [4]:
x = 1332
y = 1.10
z = 5j

type(z)

complex

You can get the data type of a variable with the type() function.

In [5]:
print(type(x1))
print(type(x2))

<class 'int'>
<class 'str'>

**Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes

In [ ]:
a = 'Hello'
print(a)

In [6]:
b = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [7]:
# Strings are Arrays
a = "Hello, World!"
print(a[0])

# To get the length of a string, use the len() function.
print(len(a))

H
13

**Slicing String**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [9]:
b = "Hello, World!"
print(b[2:9])

llo, Wo

In [ ]:
# String Concatenation
a = "Hello"
b = "World"
e = ' '
c = a + e + b
print(c)

In [ ]:
# String Format
# We cannot combine strings and numbers like this:

age = 36
txt = "My name is John, I am " + age
print(txt) # Error

In [ ]:
# Use the format() method to insert numbers into strings:

num = 2
text = 'I am years old : {}'
print(text.format(num))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
# String Methods

#The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

# The lower() method returns the string in lower case:
b = "Hello, World!"
print(b.lower())

# The strip() method removes any whitespace from the beginning or the end:
c = " Hello, World! "
print(c.strip()) # returns "Hello, World!"

# The split() method splits the string into substrings if it finds instances of the separator:
d = "Hello, World!"
print(d.split(",")) # returns ['Hello', ' World!']

**Exercise:**

Make a string with variable name txt, and then:

*   Print the length of the string.
*   Get the first character of the string
*   Convert the value of txt to upper case.

**Exercise:**

Insert the correct syntax to join text and int, print My name is John, and I am 36

age = 36

txt = "My name is John, and I am "

**Python Booleans**

Booleans represent one of two values: True or False.

In [ ]:
print(10 > 9) # true
print(10 == 9) # false
print(10 < 9) # false

**Python Operators**

Operators are used to perform operations on variables and values.

In [ ]:
# Python Arithmetic Operators
# Arithmetic operators are used with numeric values to perform common mathematical operations:

x = 12
y = 3

print(x + y)

print(x - y)

print(x * y)

print(x / y)

print(x ** y) #same as 12*12*12

print(x // y) #the floor division // rounds the result down to the nearest whole number

print(x % y)

In [ ]:
# Python Assignment Operators
# Assignment operators are used to assign values to variables:

x = 5
x += 3
print(x)

In [ ]:
# Python Comparison Operators
# Comparison operators are used to compare two values:

x = 5
y = 3

print(x == y) # returns False because 5 is not equal to 3

print(x != y) # returns True because 5 is not equal to 3

print(x > y)  # returns True because 5 is greater than 3

print(x < y)  # returns False because 5 is not less than 3

print(x >= y) # returns True because five is greater, or equal, to 3

print(x <= y) # returns False because 5 is neither less than or equal to 3

In [ ]:
# Python Logical Operators
# Logical operators are used to combine conditional statements:

x = 5

print(x > 3 and x < 10) # returns True because 5 is greater than 3 AND 5 is less than 10

print(x > 3 or x < 4) # returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

print(not(x > 3 and x < 10)) # returns False because not is used to reverse the result

In [ ]:
n1 = 10
n2 = 20
n3 = 12

print(n1<n2 and n2>n3)

**Python Lists**

Lists are used to store multiple items in a single variable.

Lists are created using square brackets. It is also possible to use the list() constructor when creating a new list.

To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets

print(thislist)

print(len(thislist))

In [ ]:
# Access Items
# List items are indexed and you can access them by referring to the index number:

thislist1 = ["apple", "banana", "cherry"]
print(thislist1[1])

thislist2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist2[2:5])

**List Methods**

In [ ]:
# Add List Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
# The insert() method inserts an item at the specified index:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

In [ ]:
# To append elements from another list to the current list, use the extend() method.
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
# Remove List Items
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
# The pop() method removes the specified index.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

In [ ]:
# Sort List Alphanumerically
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

**List Exercise:**

fruits = ["apple", "banana", "cherry"]

*   Print the second item in the fruits list.
*   Change the value from "apple" to "kiwi", in the fruits list.
*   Add "orange" to the fruits list.

**Python Tuples**

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable. While A list is a collection which is ordered and changeable.

Tuples are written with round brackets.

In [ ]:
# Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

# Access Tuple Items
print(thistuple[1])

**Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

**Python Sets**

Sets are used to store multiple items in a single variable.

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered means that the items in a set do not have a defined order. Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Sets cannot have two items with the same value. Duplicate values will be ignored

**Python Collections (Arrays)**

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered, unchangeable, and unindexed. No duplicate members.

**Dictionary** is a collection which is ordered and changeable. No duplicate members.

In [ ]:
# Create a Set:
# Sets are written with curly brackets.

thisset = {"apple", "banana", "cherry"}
print(thisset)

**Access Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop,

**Dictionary**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)

In [ ]:
# Using the dict() method to make a dictionary:

thisdict = dict(name = "John", age = 36, country = "Norway")

print(thisdict)

**Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [ ]:
# Change Values
thisdict["year"] = 2018

# Adding Items
thisdict["color"] = "red"

# Removing Items
thisdict.pop("model")

**Python Conditions, If ... Else**

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
num1 = int(input('Enter first integer: '))
num2 = int(input('Enter 2nd Integer: '))

if num1>num2:
  print('Integer 1 is greater.')
else:
  print('Integer 2 is Greater.')

print('Program Ended.')

**Exercise**

The task is to write code in Python that takes an age (years) as an input and then check:

 - if age is less than 18, print that you are not eligible to vote
 - if age is greater than 18 and less than 35 print that you are eligible to vote in the youth demographic
 - otherwise, print that you are eligible to vote but not in the youth demographic

In [ ]:
age = int(input('Enter age: '))
if age >= 18:
    if age <= 35:
        print('You are eligible to vote in the youth demographic.')
    else:
        print('You are eligible to vote but not in the youth demographic.')
else:
    print('You are not eligible to vote.')

**Python Loops**

Python has two primitive loop commands:

* while loops
* for loops

**While loop**

With the while loop we can execute a set of statements as long as a condition is true.

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

Remember to increment i, or else the loop will continue forever.

In [ ]:
# Print i as long as i is less than 6:

i = 0
while i<2:
  print(i)
  i=i+1

**The break Statement**

With the break statement we can stop the loop even if the while condition is true:

In [ ]:
# Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

**The continue Statement**

With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# Note that number 3 is missing in the result

**Python For Loops**

A 'for loop' is used for iterating over a sequence (that is either a list, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
# Looping Through a List

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
# Looping Through a String
for x in "banana":
  print(x)

**The range() Function**

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
# Using the range() function:

for x in range(6):
  print(x)

In [ ]:
# Using the start parameter:

for x in range(2, 6):
  print(x)

In [ ]:
# Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

In [ ]:
# Nested Loops
# A nested loop is a loop inside a loop.
# The "inner loop" will be executed one time for each iteration of the "outer loop":
# Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

**Exercise**

Take a List of numbers

Check the even and odd numbers

Append even numbers in a separated even list

Append odd numbers in a separated odd list

**Python Functions**

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
# Creating a Function
# In Python a function is defined using the def keyword:

def my_function():
  print("Hello from a function")

In [ ]:
# Calling a Function
# To call a function, use the function name followed by parenthesis:

my_function()

In [ ]:
# Parameters or Arguments?
# A parameter is the variable listed inside the parentheses in the function definition.
# An argument is the value that is sent to the function when it is called.

def my_function(fname, lname):
  print(fname + " " + lname)

In [ ]:
my_function("Shahid", "Hussain")

In [ ]:

my_function('Ali','Awan')

In [ ]:
# Arbitrary Arguments, *args
# If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

In [ ]:
my_function("Emil", "Tobias", "Linus", 'Jhon')

In [ ]:
# Return Values
# To let a function return a value, use the return statement:

def my_function(x):
  return 5 * x

In [ ]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

In [31]:
lst = [3,5,2,7,8,4,9,2,54,7,8,3,5]

def even_odd_num(lst):
  even_list = []
  odd_list = []
  for num in lst:
    if num % 2 == 0:
      even_list.append(num)
    else:
      odd_list.append(num)

  print('Even List: ',even_list)
  print('Odd List: ',odd_list)
  
even_odd_num(lst)

Even List:  [2, 8, 4, 2, 54, 8]
Odd List:  [3, 5, 7, 9, 7, 3, 5]

In [29]:
even_odd_num([1,2,3,4,5,6])

Even List:  [2, 4, 6]
Odd List:  [1, 3, 5]

In [30]:
even_odd_num([6,4,7,89,4,3,6,2])

Even List:  [6, 4, 4, 6, 2]
Odd List:  [7, 89, 3]

**Execise**

Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user.

Do this repeatedly and Check another number by checking a key y/n from user and end the program by entering by user.

In [ ]:
# key = input('Enter Key y/n: ')
key = 'y'
while key != 'n':
  num = int(input('Enter a number: '))
  if num % 2 == 0:
    print('Even Number')
  else:
    print('Odd Number')

  key = input('Check another number, y/n: ')

**Exercise**

Python Program to Print Table of a Given Number

  - Take a number to print the table for
  - Take the last limit of table
  - print table like:
    - 2 * 1 = 2

In [27]:
num = int(input("Enter the number: "))
limit = int(input("Enter the last limit: "))

for i in range(1, limit + 1):
    print(f"{num} * {i} = {num * i}")

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
# Example: Guess the number game
import random

def guess_the_number():
    number = random.randint(1, 100)
    tries = 0
    # print(number)

    while True:
        guess = int(input("Enter your guess (1-100): "))
        tries += 1

        if guess < number:
            print("Too low, try again!")
        elif guess > number:
            print("Too high, try again!")
        else:
            print(f"Congratulations, you guessed the number in {tries} tries!")
            break

guess_the_number()

## OOp will be continue in next jupyter file

In [ ]:
print("Program Ended.")